.ol-map {
  min-width: 700px;
  min-height: 500px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 15px;
  height: 600px;
  width: "100%";
  border: 2px solid black;
}

.iconButton {
  margin-right: 3px;
}

.text-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

#leaflet-container {
  min-width: 900px;
  min-height: 500px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 15px;
  height: 600px;
  width: "100%";
  border: 2px solid black;
}
